MODEL_PATH=models/adaface_ir18.onnx
EMBEDDING_SIZE=512
IMAGE_SIZE=160,160
FACE_DETECTION_THRESHOLD=0.7


# Vapi API Configuration
VAPI_API_KEY=your_vapi_api_key_here
VAPI_ASSISTANT_ID=your_vapi_assistant_id_here
VAPI_PHONE_NUMBER_ID=your_vapi_phone_number_id_here

DOGRAH_API_KEY=your_dograh_api_key_here
DOGRAH_AGENT_UUID=your_dograh_agent_uuid_here

# Database Configuration
DATABASE_URL=postgresql+asyncpg://username:password@localhost/database_name
FACE_DB_URL=postgresql+asyncpg://username:password@localhost/database_name

# Twilio WhatsApp Configuration
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here

TWILIO_MESSAGING_SERVICE_SID=your_twilio_messaging_service_sid_here